RewriteEngine on
RewriteRule ^$ site/
RewriteRule ^dang-nhap-dang-ky$ /tintucanhduy/site/?act=loginregister [L]
RewriteRule ^doi-mat-khau$ /tintucanhduy/site/?act=changepass [L]
RewriteRule ^dang-xuat$ /tintucanhduy/site/?act=logout [L]
RewriteRule ^gio-hang$ /tintucanhduy/site/?act=cartview [L]
RewriteRule ^thanh-toan$ /tintucanhduy/site/?act=checkout [L]
RewriteRule ^xac-nhan-gio-hang$ /tintucanhduy/site/?act=savebill [L]
RewriteRule ^cam-on$ /tintucanhduy/site/?act=thankyou [L]
RewriteRule ^quen-mat-khau$ /tintucanhduy/site/?act=forgotpass [L]
RewriteRule ^thanh-toan-thanh-cong/$ /tintucanhduy/site/?act=ttthanhcong [L]

RewriteRule ^bai-viet/([a-zA-Z0-9-]+)$ /tintucanhduy/site/?act=detail&id=$2&slug=$1 [L]
RewriteRule ^danh-muc/([a-zA-Z0-9-]+)/page-([0-9]+)$ /tintucanhduy/site/?act=cat&Page=$2&slug=$1 [L]
RewriteRule ^xoa-khoi-gio/(.*)$ /tintucanhduy/site/?act=cart&what=remove&id=$1 [L]